body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url(src/maxresdefault.jpg);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.lineUpButton{
  padding:5px 12px;
  color:red;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.drunkDancer {
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}

.dDancer {
  border:20px solid green;
  border-radius:10px;
  position:absolute;
}

.cDancer {
  border:20px solid yellow;
  border-radius:10px;
  position:absolute;
}